@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    text-align: center;
    max-width: 500px;
}
.header h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 36px;
}
.header h2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 15px;
}
.header p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    margin-bottom: 60px;
}
.section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 30px;
}
.card {
    background-color: #ffffff;
    box-shadow: 1px 5px 10px rgb(198, 198, 198);
    border-radius: 5px;
    padding: 30px;
    width: 350px;
    height: 250px;
}
.card h3 {
    color: hsl(234, 12%, 34%);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card p {
    color: hsl(229, 6%, 66%);
    font-size: 14px;
    font-weight: 200;
}
.card div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}
.supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    grid-column: 1 / 1;
    grid-row: 2 / span 3;
}
.team-builder {
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
}
.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    grid-column: 2 / 2;
    grid-row: 3 / span 4;
}
.calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    grid-column: 3 / 3;
    grid-row: 2 / span 3;
}